<h2><%= @restaurant.name %>'s Special of the Day:</h2>

<h3> <%= @special %> </h3>

<a class="textuser" href="/users/<%= @user.id %>/restaurants/<%= @restaurant.id %>/sendtext">Send me a text!</a>
<div class="textsent"></div>
<a class="backtorestaurants" href="/users/<%= @user.id %>/restaurants"></a>